<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.godotengine.godot.plugin.androidnotifications">

  <application>

    <meta-data
        android:name="org.godotengine.plugin.v1.GodotAndroidNotifications"
        android:value="org.godotengine.godot.plugin.androidnotifications.GodotAndroidNotifications" />

  </application>
</manifest>
